@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
}

@theme inline {
  /* fonts */
  --font-dm_sans: var(--font-dm-sans);
  --font-manrope: var(--font-manrope);
  --font-poppins: var(--font-poppins);

  /* colors */
  --color-brandColor: #ED3C6A;
  --color-brand-color2: #FAC4D2;
  --color-dropShadow: #FF8AA728;
  --color-black: #000000;
  --color-serviceCardHeading: #1E1E1E;
}

/* for global container */
@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant lg {
    width: 1240px;
    padding-inline: 0px;
  }
}

/* for nav items animation */
.navItems {
  @apply inline-block relative;
  background-image: linear-gradient(to right, #ED3C6A 100%, #ED3C6A 100%);
  background-size: 0% 1px;
  background-position: right bottom;
  background-repeat: no-repeat;
  transition: background-size 300ms ease;

  &:hover {
    background-size: 100% 1px;
    background-position: left bottom;
  }
}